---

---

<div class="card border-base-content/25 my-4 overflow-hidden border">
  <figure>
    <div class="from-base-300 to-base-100 w-full bg-linear-150 p-8">
      <slot />
    </div>
  </figure>
  <div class="card-body p-0 text-base">
    <slot name="desc" />
  </div>
</div>
