---
import { asideConfig } from '@/config';
import Stats from './siteinfo/Stats.astro';
import Tags from './siteinfo/Tags.astro';
---

<div class="card border-base-300 bg-base-200 border">
  <div class="card-body px-4 py-2">
    <ul>
      {
        asideConfig.siteInfo.contents.map((part) => {
          const defaultClass = 'border-base-content/10 not-first:border-t';
          switch (part) {
            case 'stats':
              return (
                <li class:list={['', defaultClass]}>
                  <Stats />
                </li>
              );
            case 'tags':
              return (
                <li class:list={['py-2', defaultClass]}>
                  <Tags />
                </li>
              );
          }
        })
      }
    </ul>
  </div>
</div>
