---
import { commentConfig } from '@/config';
import Artalk from '@components/comment/Artalk.astro';
import Giscus from '@components/comment/Giscus.astro';
import Twikoo from '@components/comment/Twikoo.astro';
import Waline from '@components/comment/Waline.astro';
import { t } from '@utils/i18n';
---

<div id="page-comment" title={t.info.comments()} aria-label={t.info.comments()}>
  {
    (() => {
      switch (commentConfig.provider) {
        case 'twikoo':
          return <Twikoo />;
        case 'giscus':
          return <Giscus />;
        case 'waline':
          return <Waline />;
        case 'artalk':
          return <Artalk />;
      }
    })()
  }
</div>
